<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
    <meta charset="utf-8">
    <title>Gestion des &eacute;valuations </title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />    
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- ===================== Touch Icons ===================== -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-57-precomposed.png">

    <!-- ===================== CSS ===================== -->    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>  
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap/bootstrap-responsive.min.css">    

    <!-- Site specific - CSS --> 
    <link rel="stylesheet" href="../css/theme_light/prettify.css">    
    <link rel="stylesheet" href="../css/theme_light/tables/dataTables.css">         
    <link rel='stylesheet' href='../css/theme_light/calendar/fullcalendar.css' />
	    <link rel='stylesheet' href='../css/theme_light/calendar/calendar_dark.css' />
    <link rel='stylesheet' href='../css/theme_light/calendar/fullcalendar.print.css' media='print' /> 
    <link rel="stylesheet" href="../css/theme_light/formselements/chosen.css">
    <link rel="stylesheet" href="../css/theme_light/formselements/dropkick.css">
    <link rel="stylesheet" href="../css/theme_light/jquery-ui-1.8.20.custom.css">        
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <!-- Common - CSS -->     
    <link rel="stylesheet" href="../css/theme_light/common.css">  
    <link rel="stylesheet" href="../css/theme_light.css" class="style_set">
    
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="loader_cont"><img src="../img/loaders/page_loader.gif"></div> 
      
      
    <div class="navbar navbar-fixed-top">
	<div style="display:inline-block;">
	<img src="../img/logo2.png" height="170" width="160">

	 <img src="../img/portal_baseline-ubo.png" height="200" width="225" style="margin-left:900px" >
	 <img src="../img/bandeau.png"  style="margin-top:10px;"  height="100" width="1345">
	</div>
         
	  <div class="navbar-innr">
	  	
        <div class="container">


                 
      <br>  <h1 ><center><font color="#FFFFFF">Gestion des &eacute;valuations</font> </center></h1>

        
                                               


          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="sweet-gray sweet-go-back-from-screen">&nbsp;</span>
          </a>
          <div class="nav-collapse">            
           
            <ul class="main_nav nav pull-right">     
     
                                           
        </div>
      </div>
    </div>
            
    <div class="containner">      
      <div class="sub_nav">
       
      </div>    
      <div class="main_content row-fluid">

        <div class="span3">

          <div class="side_nav sidebar-nav" data-spy="affix" data-offset-top="150">
           
            <h3 class="main_menu group">
                <span class="title">Main Menu</span>
                <a id="nav_list_btn" class="btn-collapse btn btn-inverse">
                  <span class="sweet-gray sweet-go-back-from-screen">&nbsp;</span>              
                </a>
            </h3>
            <ul class="nav nav-list">                          
              <li class="active"><a class="home" href="listeEval">G&eacuterer mes &eacutevaluations </a></li>
			  <li class="active"><a class="home" href="creerRubrique">G&eacuterer mes rubriques </a></li>
			  <li class="active"><a class="home" href="creerQuestion">G&eacuterer mes questions </a></li>
			  <li class="active"><a class="home" href="creerQualificatif">G&eacuterer mes qualificatifs </a></li>

                       
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="row-fluid">
            <div class="span12">

              

              <div class="widget chart">
                <header>
                    <h3 ><font color="#A4A4A4"><b>Ajouter une rubrique</b> </font> </h3>
                    <ul class="toggle_content">                          
                        <li class="arrow"><a href="#">Toggle Content</a></li>
                    </ul>
                </header>
                
				<section class="welly form_align">
                  <form class="formClass" method="post" action="/ajouterRubrique">
					 Rubrique:
                        <select name="choix_ques" id="choix_ques" style="width:400px;">
						  <option>Choisir une rubrique</option>
						  {{#each listeRubriques}}
                          <option value = {{DESIGNATION}}>{{DESIGNATION}}</option>
                           {{/each}} 
                        </select>
<br>
<br>
					<center><button class="btn btn-inverse" type="ajout_submit" id="ajout_submit">Valider</button> <button class="btn btn-inverse" type="reset">Annuler</button> 
                  </form>  
                </section>
              </div>

            </div>                  
          </div><!--/row-->
           
          
        </div><!--/span-->
      </div><!--/row-->      
   

      

    </div><!--/.fluid-container-->

   

    <!-- ===================== JS ===================== -->
    <script src="../js/libs/jquery-1.7.2.min.js"></script>    
    <script src="../js/libs/bootstrap.min.js"></script>   
    <script src="../js/libs/ios-orientationchange-fix.js"></script>      
    <script src="../js/libs/jquery-ui-1.8.20.custom.min.js"></script>
    <script src="../js/common.js"></script>  

    <!-- Site specific --> 
    <script src="../js/plugins/filevalidation/languages/jquery.validationEngine-en.js"></script>  
    <script src="../js/plugins/filevalidation/jquery.validationEngine.js"></script>  


    <script src="../js/script.js"></script>
    <script src="../js/specific/file_validation.js"></script>
	
	 <!-- Site specific - JS --> 
    <script src="../js/libs/prettify.js"></script> 
    <script src="../js/plugins/formselements/jquery.maskedinput-1.3.min.js"></script> 
    <script src="../js/plugins/formselements/chosen.jquery.min.js"></script> 
    <script src="../js/plugins/formselements/scrollability.min.js"></script> 
    <script src="../js/plugins/formselements/jquery.dropkick-1.0.0.js"></script> 
    <script src="../js/plugins/formselements/jquery.multi-select.js"></script> 
    <script src="../js/plugins/formselements/jquery.quicksearch.js"></script> 
    <script src="../js/plugins/formselements/jquery.autogrowtextarea.js"></script> 
    <script src="../js/plugins/formselements/jquery.textareaCounter.plugin.js"></script> 
    <script src="../js/plugins/formselements/ui.spinner.min.js"></script> 
    <script src="../js/plugins/formselements/jquery.ibutton.min.js"></script> 
    <script src="../js/plugins/formselements/jquery.metadata.js"></script> 

    <script src="js/script.js"></script>
	
    <script src="js/specific/forms_elements.js"></script>

	<script type="text/javascript">
	
	// Ajax attribuer une rubrique à une évaal
        $(document).ready(function () {
            $('#ajout_submit').click(function () {
			
                var payload = {
				
                    choix_ques : $('#choix_ques').find(":selected").text();	
                };
				
				
                $.ajax({
				
                    url: "/ajouterRubrique",
                    type: "POST",
                    contentType: "application/json",
                    processData: false,
                    data: JSON.stringify(payload),
                    complete: function (data) {
                       
					   
					   $( '.formClass' ).append("<div class='alert alert-success'><strong>Rubrique Ajoute avec succes</strong></div>");
						
                    }
                });
            });
        });
    </script>
   
  </body>
</html>
