<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
    <meta charset="utf-8">
    <title>Gestion des &eacute;valuations </title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />    
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- ===================== Touch Icons ===================== -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-57-precomposed.png">

    <!-- ===================== CSS ===================== -->    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>  
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap-responsive.min.css">    

    <!-- Site specific - CSS --> 
    <link rel="stylesheet" href="css/theme_light/prettify.css">    
    <link rel="stylesheet" href="css/theme_light/tables/dataTables.css">         
    <link rel='stylesheet' href='css/theme_light/calendar/fullcalendar.css' />
	    <link rel='stylesheet' href='css/theme_light/calendar/calendar_dark.css' />
    <link rel='stylesheet' href='css/theme_light/calendar/fullcalendar.print.css' media='print' /> 
    <link rel="stylesheet" href="css/theme_light/formselements/chosen.css">
    <link rel="stylesheet" href="css/theme_light/formselements/dropkick.css">
    <link rel="stylesheet" href="css/theme_light/jquery-ui-1.8.20.custom.css">    
   
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <!-- Common - CSS -->     
    <link rel="stylesheet" href="css/theme_light/common.css">  
    <link rel="stylesheet" href="css/theme_light.css" class="style_set">
    
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="loader_cont"><img src="img/loaders/page_loader.gif"></div> 
      
      
    <div class="navbar navbar-fixed-top">
	<div style="display:inline-block;">
	 <img src="img/logo2.png" height="100" width="100">
	 <img src="img/portal_baseline-ubo.png" height="200" width="225" style="margin-left:1000px" >
	 <img src="img/bandeau.png"  style="margin-top:5px;"  height="100" width="1345">
	</div>
         
	  <div class="navbar-innr">
	  	
        <div class="container">


                 
      <br>  <h1 ><center><font color="#FFFFFF">Gestion des &eacute;valuations</font> </center></h1>

        
                                               

  
     
                                           
        </div>
      </div>
    </div>
            
<br>
<br>


        <div class="span3" style="clear:both;">

          <div class="side_nav sidebar-nav" data-spy="affix" data-offset-top="150">
            
            <h3 class="main_menu group">
                <span class="title">Main Menu</span>
                <a id="nav_list_btn" class="btn-collapse btn btn-inverse">
                  <span class="sweet-gray sweet-go-back-from-screen">&nbsp;</span>              
                </a>
            </h3>
            <ul class="nav nav-list">                          
              <li class="active"><a class="home" href="listeEval">G&eacuterer mes &eacutevaluations </a></li>
              
              
                			   
             
             
                       
            </ul>
           
           
            
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="row-fluid">
            <div class="span12">

              

              <div class="widget chart">
                <header>
                    <h3 ><font color="#A4A4A4"><b>Saisie et Mise &agrave; jour d'une &eacute;valuation</b> </font> </h3>
                    <ul class="toggle_content">                          
                        <li class="arrow"><a href="#">Toggle Content</a></li>
                    </ul>
                </header>
                
				<section class="welly form_align">

                  <form class="formClass" method="post" action="/rubriqueajoute">
                    <table>
					
<tr>
<td><b>Ordre:</b></td>
<td>


<input type="text"  id="ordre" name="ordre" value="" />

</td>
</tr>  
<tr>
<td><b>D&eacute;signation:</b></td>
<td>


<input type="text" id="designation" name="designation">

</td>
					 
</tr>  
   
</table>
<br>
<br>
					<center><button class="btn btn-inverse" id="ajout_rubrique_submit" type="submit">Valider</button>  

                  </form>  
				  
                </section>
              </div>
			  <h3>Liste des Rubriques </h3>
                      
                  </header>
                  <section class="group">                         
                       <table id="example" class="display" >
                          <thead>
                              <tr>
                                  <th>Ordre</th>
                                  
                                  <th>D&eacute;signation</th>
                                
                              </tr>
                          </thead>
						  
                          <tbody>
						  {{#each listeRubrique}}
                              <tr class="gradeX">
                                  <td class="ordre-liste">{{ORDRE}}</td>
                                  <td class="designation-liste">{{DESIGNATION}}</td> 
                                  <td class="center"><a href="supprimerRubrique"> <i class="icon-remove"/></td>
								  <td class ="center" id="td-123" OnClick="modifier();"><i class="icon-search"> </a></td>
								  <input type="hidden">{{ID_RUBRIQUE}}</input>
                              </tr>
                              
							{{/each}} 
                             
                          </tbody>
                      </table>                      
                  </section>
              </div> 	

            </div>                  
          </div><!--/row-->
           
          
        </div><!--/span-->
      </div><!--/row-->      
   

      

    </div><!--/.fluid-container-->

   


    <!-- ===================== JS ===================== -->
	 <script type="text/javascript">
        $(document).ready(function () {
            $('#ajout_rubrique_submit').click(function () {
                var payload = {
                    ORDRE: $('#ordre').val() ,
					DESIGNATION: $('#designation').val() ,
					
                };

                $.ajax({
                    url: "/rubriqueajoute",
                    type: "POST",
                    contentType: "application/json",
                    processData: false,
                    data: JSON.stringify(payload),
                    complete: function (data) {
                        //$('#output').html(data.responseText);
						
                    }
                });
            });
        });
    </script>
	
	<script type="text/javascript">
        
		
            function modifier() {
                var payload = {
                    ORDRE: $('.ordre-liste').html() ,
					DESIGNATION: $('.designation-liste').html() ,
					
                };

                $.ajax({
                    url: "/creerRubrique",
                    type: "GET",
                    contentType: "application/json",
                    processData: false,
                    data: JSON.stringify(payload),
                    complete: function (data) {
					    console.log("oui");
                        document.getElementById('ordre').value= (payload.ORDRE);
						document.getElementById('designation').value=(payload.DESIGNATION);
						
                    }
                });
            };
        
    </script>
	

    <script src="js/libs/jquery-1.7.2.min.js"></script>    
    <script src="js/libs/bootstrap.min.js"></script>   
    <script src="js/libs/ios-orientationchange-fix.js"></script>      
    <script src="js/libs/jquery-ui-1.8.20.custom.min.js"></script>
    <script src="js/plugins/widgets/jquery.sparkline.min.js"></script>
    <script src="js/common.js"></script>  

    <!-- Site specific --> 
    <script src="js/libs/prettify.js"></script>      
    <script src="js/plugins/tagedit/jquery.autoGrowInput.js"></script>
    <script src="js/plugins/tagedit/jquery.tagedit.js"></script>
    <script src="js/plugins/widgets/slidernav-min.js"></script>    
    <script src="js/plugins/widgets/glDatePicker.min.js"></script>    
    <script src="js/plugins/widgets/jquery-ui-timepicker-addon.js"></script>    
    <script src="js/plugins/widgets/jquery-ui-sliderAccess.js"></script>    
    <script src="js/plugins/widgets/jquery.miniColors.min.js"></script>    
    <script src="js/plugins/widgets/colorpicker.js"></script>  
    <script src="js/plugins/widgets/jquery.knob.js"></script>      

    <script src="js/script.js"></script>
    <script src="js/specific/sparks.js"></script>
    <script src="js/specific/widgets.js"></script>

	
	 <!-- Site specific - JS --> 
    <script src="js/libs/prettify.js"></script> 
    <script src="js/plugins/formselements/jquery.maskedinput-1.3.min.js"></script> 
    <script src="js/plugins/formselements/chosen.jquery.min.js"></script> 
    <script src="js/plugins/formselements/scrollability.min.js"></script> 
    <script src="js/plugins/formselements/jquery.dropkick-1.0.0.js"></script> 
    <script src="js/plugins/formselements/jquery.multi-select.js"></script> 
    <script src="js/plugins/formselements/jquery.quicksearch.js"></script> 
    <script src="js/plugins/formselements/jquery.autogrowtextarea.js"></script> 
    <script src="js/plugins/formselements/jquery.textareaCounter.plugin.js"></script> 
    <script src="js/plugins/formselements/ui.spinner.min.js"></script> 
    <script src="js/plugins/formselements/jquery.ibutton.min.js"></script> 
    <script src="js/plugins/formselements/jquery.metadata.js"></script> 
	 

    <script src="js/script.js"></script>
	 <script>
  
  </script>
    <script src="js/specific/forms_elements.js"></script>

   
  </body>
</html>
