<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
    <meta charset="utf-8">
    <title>Gestion des &eacute;valuations </title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />    
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- ===================== Touch Icons ===================== -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-57-precomposed.png">

    <!-- ===================== CSS ===================== -->    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>  
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap-responsive.min.css">    

    <!-- Site specific - CSS --> 
    <link rel="stylesheet" href="css/theme_light/prettify.css">    
    <link rel="stylesheet" href="css/theme_light/tables/dataTables.css">         
    <link rel='stylesheet' href='css/theme_light/calendar/fullcalendar.css' />
    <link rel='stylesheet' href='css/theme_light/calendar/fullcalendar.print.css' media='print' /> 
    <link rel="stylesheet" href="css/theme_light/formselements/chosen.css">
    <link rel="stylesheet" href="css/theme_light/formselements/dropkick.css">
    <link rel="stylesheet" href="css/theme_light/jquery-ui-1.8.20.custom.css">        

    <!-- Common - CSS -->     
    <link rel="stylesheet" href="css/theme_light/common.css">  
    <link rel="stylesheet" href="css/theme_light.css" class="style_set">
    
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="loader_cont"><img src="img/loaders/page_loader.gif"></div> 
     
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="sweet-gray sweet-go-back-from-screen">&nbsp;</span>
          </a>
          <div class="nav-collapse">            
           
            <ul class="main_nav nav pull-right">                
                <li id="search" class="search"> 
                  <a href="#">Recherche</a> 
                  <div class="search_cont">
                      <form class="navbar-search form-search">                          
                          <input type="text" class="input-medium search-query" placeholder="Recherche">
                          <button type="submit">Recherche</button>
                      </form> 
                  </div>              
                </li> 
                <li id="settings" class="styled dropdown settings">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings</a>
                    <ul class="dropdown-menu top_menu">
                        <li class="show_all">Settings</li>
                        <li><a class="mn_site" href="#"><span>Site</span></a></li>
                        <li><a class="mn_admin" href="#"><span>Admin</span></a></li>
                        <li><a class="mn_mail" href="#"><span>Mail</span></a></li>
                        <li><a class="mn_user" href="#"><span>User</span></a></li>
                    </ul>
                </li>
                <li id="profile" class="styled dropdown profile">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Profile</a>
                    <ul class="dropdown-menu top_menu">                        
                        <li class="profile group">
                          <img src="img/general/user_1.jpg" width="50" height="50" alt="User">
                          <ul>
                            <li><strong>John Doe</strong></li>
                            <li>@johndoe</li>
                            <li><span>Administrator</span></li>
                          </ul>
                        </li>
                         <li><a class="mn_settings" href="#"><span>Mes param&egrave;tres</span></a></li>
                        <li><a class="mn_profile" href="#"><span>Mon profil</span></a></li>
                        <li><a class="mn_logout" href="login.html"><span>D&eacute;connexion</span></a></li>
                    </ul>
                </li>                          
            </ul>           
          </div>
          <h1 class="brand"><a href="index-2.html">Gestion des &eacute;valuations</a></h1>                                       
        </div>
      </div>
    </div>
            
    <div class="container">      
      <div class="sub_nav">
       
      </div>    
      <div class="main_content row-fluid">

        <div class="span3">

          <div class="side_nav sidebar-nav" data-spy="affix" data-offset-top="150">
            
            <h3 class="main_menu group">
                <span class="title">Main Menu</span>
                <a id="nav_list_btn" class="btn-collapse btn btn-inverse">
                  <span class="sweet-gray sweet-go-back-from-screen">&nbsp;</span>              
                </a>
            </h3>
            <ul class="nav nav-list">                          
              <li class="active"><a class="home" href="index-2.html">Liste des &eacutevaluations </a></li>
              
              <li><a class="charts" href="ajouterEval">Ajouter une &eacutevaluation </a></li>
               <li><a class="calendar" href="charts.html">Modifier une &eacutevaluation </a></li>
                			   
             
             
                       
            </ul>
           
           
            
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="row-fluid">
            <div class="span12">
              <div class="widget">
                  <header>
                      <h3>Liste des &eacute;valuations </h3>
                      <ul class="toggle_content">                         
                          <li class="arrow"><a href="#">Toggle Content</a></li>
                      </ul>
                  </header>
                  <section class="group">                         
                       <table id="example" class="display" >
                          <thead>
                              <tr>
                                  <th>Promotion</th>
                                  <th>Formation</th>
                                  <th>D&eacute;signation</th>
                                  <th>P&eacute;riode</th>
                                  <th>UE</th>
								  <th>Etat</th>
								  <th>Modifier</th>
								  <th>Supprimer</th>
								   <th>Afficher</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr class="gradeX">
                                  <td>Trident</td>
                                  <td>Internet
                                       Explorer 4.0</td>
                                  <td>Win 95+</td>
                                  <td class="center">4</td>
                                  <td class="center">X</td>
								   <td class="center">X</td>
								    <td class="center"><i class="icon-edit"/></td>
									 <td class="center"><i class="icon-remove"/></td>
									 <td class ="center"><i class="icon-search"/></td>
                              </tr>
                              <tr class="gradeC">
                                  <td>Trident</td>
                                  <td>Internet
                                       Explorer 5.0</td>
                                  <td>Win 95+</td>
                                  <td class="center">5</td>
                                  <td class="center">C</td>
								   <td class="center">X</td>
								   <td class="center"><i class="icon-edit"/></td>
									 <td class="center"><i class="icon-remove"/></td>
									  <td class ="center"><i class="icon-search"/></td>
                              </tr>
                              <tr class="gradeA">
                                  <td>Trident</td>
                                  <td>Internet
                                       Explorer 5.5</td>
                                  <td>Win 95+</td>
                                  <td class="center">5.5</td>
                                  <td class="center">A</td>
								   <td class="center">X</td>
								   <td class="center"><i class="icon-edit"/></td>
									 <td class="center"><i class="icon-remove"/></td>
									  <td class ="center"><i class="icon-search"/></td>
                              </tr>
							  <tr class="gradeA">
                                  <td>Trident</td>
                                  <td>Internet
                                       Explorer 5.5</td>
                                  <td>Win 95+</td>
                                  <td class="center">5.5</td>
                                  <td class="center">A</td>
								   <td class="center">X</td>
								   <td class="center"><i class="icon-edit"/></td>
									 <td class="center"><i class="icon-remove"/></td>
									  <td class ="center"><i class="icon-search"/></td>
                              </tr>
							
                             
                          </tbody>
                      </table>                      
                  </section>
              </div> 
			<button class="btn"> <a href="ajouterEval"> Ajouter &eacute;valuation  </a></button>
			<br/>
			<br/>
			<div class="widget">
                  <header>
                      <h3>Liste des Rubriques </h3>
                      <ul class="toggle_content">                         
                          <li class="arrow"><a href="#">Toggle Content</a></li>
                      </ul>
                  </header>
                  <section class="group">                         
                       <table id="example" class="display" >
                          <thead>
                              <tr>
                                  <th>Ordre</th>
                                  <th>Formation</th>
                                  <th>D&eacute;signation</th>
                                  <th>P&eacute;riode</th>
                                  <th>UE</th>
								  <th>Etat</th>
								  
								  <th>Supprimer</th>
								   <th>Afficher</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr class="gradeX">
                                  <td>Trident</td>
                                  <td>Internet
                                       Explorer 4.0</td>
                                  <td>Win 95+</td>
                                  <td class="center">4</td>
                                  <td class="center">X</td>
								   <td class="center">X</td>
								  
									 <td class="center"><i class="icon-remove"/></td>
									 <td class ="center"><i class="icon-search"/></td>
                              </tr>
                              <tr class="gradeC">
                                  <td>Trident</td>
                                  <td>Internet
                                       Explorer 5.0</td>
                                  <td>Win 95+</td>
                                  <td class="center">5</td>
                                  <td class="center">C</td>
								   <td class="center">X</td>
								   
									 <td class="center"><i class="icon-remove"/></td>
									  <td class ="center"><i class="icon-search"/></td>
                              </tr>
                              <tr class="gradeA">
                                  <td>Trident</td>
                                  <td>Internet
                                       Explorer 5.5</td>
                                  <td>Win 95+</td>
                                  <td class="center">5.5</td>
                                  <td class="center">A</td>
								   <td class="center">X</td>
								
									 <td class="center"><i class="icon-remove"/></td>
									  <td class ="center"><i class="icon-search"/></td>
                              </tr>
							  <tr class="gradeA">
                                  <td>Trident</td>
                                  <td>Internet
                                       Explorer 5.5</td>
                                  <td>Win 95+</td>
                                  <td class="center">5.5</td>
                                  <td class="center">A</td>
								   <td class="center">X</td>
								   
									 <td class="center"><i class="icon-remove"/></td>
									  <td class ="center"><i class="icon-search"/></td>
                              </tr>
							
                             
                          </tbody>
                      </table>                      
                  </section>
              </div> 	

         			  
            </div>   
			 <button class="btn"> <a href="ajouter-rubrique.html"> Ajouter rubrique  </a></button>
			
			<br/>
			<br/>
			<div class="widget">
                  <header>
                      <h3>Liste des questions </h3>
                      <ul class="toggle_content">                         
                          <li class="arrow"><a href="#">Toggle Content</a></li>
                      </ul>
                  </header>
                  <section class="group">                         
                       <table id="example" class="display" >
                          <thead>
                              <tr>
                                  <th>Ordre</th>
                                 
                                  <th>D&eacute;signation</th>
                                  <th>Qualificatif min</th>
                                  <th>Qualificatif max</th>
								  
								  
								  <th>Supprimer</th>
								   <th>Afficher</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr class="gradeX">
                                  <td>Trident</td>
                                  
                                  <td>Win 95+</td>
                                  <td class="center">4</td>
                                  <td class="center">X</td>

								   
									 <td class="center"><i class="icon-remove"/></td>
									 <td class ="center"><i class="icon-search"/></td>
                              </tr>
                              <tr class="gradeC">
                                  <td>Trident</td>
                                 
                                  <td>Win 95+</td>
                                  <td class="center">5</td>
                                  <td class="center">C</td>
								
								   
									 <td class="center"><i class="icon-remove"/></td>
									  <td class ="center"><i class="icon-search"/></td>
                              </tr>
                              <tr class="gradeA">
                                  <td>Trident</td>
                                  
                                  <td>Win 95+</td>
                                  <td class="center">5.5</td>
                                  <td class="center">A</td>
								 
								   
									 <td class="center"><i class="icon-remove"/></td>
									  <td class ="center"><i class="icon-search"/></td>
                              </tr>
							  <tr class="gradeA">
                                  <td>Trident</td>
                                 
                                  <td>Win 95+</td>
                                  <td class="center">5.5</td>
                                  <td class="center">A</td>
							
								   
									 <td class="center"><i class="icon-remove"/></td>
									  <td class ="center"><i class="icon-search"/></td>
                              </tr>
							
                             
                          </tbody>
                      </table>                      
                  </section>
              </div> 
			
			 <button class="btn"> <a href="ajouter-question.html"> Ajouter question  </a></button>
			
			
			
          </div><!--/row-->
           
         
        </div><!--/span-->
		
		
		
		
      </div><!--/row-->      
      

      <footer>
       
      </footer>

    </div><!--/.fluid-container-->

     

    <!-- ===================== JS ===================== -->
    <script src="js/libs/jquery-1.7.2.min.js"></script>    
    <script src="js/libs/bootstrap.min.js"></script>   
    <script src="js/libs/ios-orientationchange-fix.js"></script>          
    <script src="js/libs/jquery-ui-1.8.20.custom.min.js"></script>
    <script src="js/plugins/widgets/jquery.sparkline.min.js"></script>
    <script src="js/common.js"></script>  

    <!-- Site specific --> 
    <script src="js/libs/prettify.js"></script>      
    <script src="js/plugins/charts/jquery.flot.min.js"></script>   
    <script src="js/plugins/charts/jquery.flot.resize.min.js"></script>  
    <script src="js/plugins/charts/jquery.flot.pie.min.js"></script>  
    <script src="js/plugins/charts/jquery.flot.stack.min.js"></script>  
    <script src="js/plugins/charts/jquery.flot.symbol.min.js"></script>            
    <!--[if lt IE 9]>      
          <script type="text/javascript" src="js/plugins/charts/excanvas.min.js"></script>
    <![endif]--> 
    <script src="js/plugins/tables/jquery.dataTables.min.js"></script>
    <script src="js/plugins/calendar/fullcalendar.min.js"></script>
    <script src="js/plugins/formselements/chosen.jquery.min.js"></script> 
    <script src="js/plugins/formselements/scrollability.min.js"></script> 
    <script src="js/plugins/formselements/jquery.dropkick-1.0.0.js"></script> 

    <script src="js/script.js"></script>
    <script src="js/specific/sparks.js"></script>
    <script src="js/specific/index.js"></script>

   
  </body>
</html>
