<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Gestion Evaluation - Login</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="">
    <meta name="author" content="">

  <!-- ===================== Touch Icons ===================== -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-57-precomposed.png">

    <!-- ===================== CSS ===================== --> 
    	
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>  
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap-responsive.min.css">    

    <!-- Site specific - CSS -->   
    <link rel="stylesheet" href="css/theme_light/filevalidation/validationEngine.jquery.css">

    <!-- Common - CSS --> 
    <link rel="stylesheet" href="css/theme_light/common.css">  
    <link rel="stylesheet" href="css/theme_light.css" class="style_set">
    
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	 <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  </head>
  <body> 
  
  
     
   
 
  
    <div id="loader_cont"><img src="img/loaders/page_loader.gif"></div> 
	
       <div class="navbar navbar-fixed-top">
	 <img src="img/logo2.png" height="170" width="160">

	 <img src="img/portal_baseline-ubo.png" height="200" width="225" style="margin-left:900px" >
	 <img src="img/bandeau.png"  style="margin-top:10px;"  height="100" width="1345">
	
      </div>
  
   
	  <div class="navbar-innr" >
	  	
		 <div class="login_main_cont">  
    
        <div class="login_cont group login">
          
	
            <h2>Authentification</h2>          
            <div class="login_form">
            <form class="formClass" method="POST" action="/listeEval">
                
                <fieldset>                
                   
						<select id="select01" name="select01" style="width:300px;">
						{{#each listeEnseignants}}
								<option value={{NO_ENSEIGNANT}}>{{PRENOM}} {{NOM}}</option>
						{{/each}}
				
</select>		
				
                </fieldset>
                <fieldset class="login_submit"><button type="submit" class="btn">Se connecter </button></fieldset>
                <fieldset class="login_social">              
                                   
                    <ul class="right">                  
                      <li class="info"><span>Se connecter</span></li>
                     
                    </ul>               
                </fieldset>                    
              </form>      
            </div>
        </div> 
       
                  
    
		
        <div class="container">
                 
        
		
        </div>
      </div>
    </div>
<br>
<br>

   

    <!-- ===================== JS ===================== -->
    <script src="js/libs/jquery-1.7.2.min.js"></script>    
    <script src="js/libs/bootstrap.min.js"></script>   
	<script src="js/libs/ios-orientationchange-fix.js"></script> 
    <script src="js/libs/jquery-ui-1.8.20.custom.min.js"></script>  
    <script src="js/plugins/filevalidation/languages/jquery.validationEngine-en.js"></script>  
    <script src="js/plugins/filevalidation/jquery.validationEngine.js"></script>  
    <script src="js/common.js"></script>
	
	<!-- Site specific - JS -->  
	<script src="js/script.js"></script>   
    <script src="js/specific/login.js"></script>  
    
   
  </body>
</html>